<div class="cards">
  <div class="card">
    <div class="card-image">
      <%= link_to("//hotels.wdwhub.net/", target: "_blank") do %>
          <%= image_tag "DisneysArtofAnimationResort-RidetheColorWave.jpg", :title => "Hotels" %>
      <% end %>
    </div>
    <div class="card-header">
        <%= link_to("//hotels.wdwhub.net/", target: "_blank") do %>
          Walt Disney World Hotels
        <% end %>
    </div>
    <div class="card-copy">
      <p>Walt Disney World is huge place, almost as big as San Francisco.  With photos, tips, and a map, you are sure to find hotel to fit your needs.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
        <%= link_to("//dining.wdwhub.net/", target: "_blank") do %>
          <%= image_tag "2160747261_741feae5d6_z.jpg", :title => "Walt Disney World Dining" %>
        <% end %>
    </div>
    <div class="card-header">
        <%= link_to("//dining.wdwhub.net/", :target => "_blank")  do %>
          Walt Disney World Dining
        <% end %>
    </div>
    <div class="card-copy">
      <p>All of the food is good, but some of it is awesome!  Let's find what you like.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <%= link_to("//fun.wdwhub.net/", :target => "_blank" ) do %>
          <%= image_tag "4601302443_904025c08d_z.jpg", :title => "Disney Parks" %>
      <% end %>
    </div>
    <div class="card-header">
      <%= link_to("//fun.wdwhub.net/", :target => "_blank" ) do %>
          Disney Parks &amp; Fun
      <% end %>
    </div>
    <div class="card-copy">
      <p>Coming Soon! They're the best in the world.  We will help you scout them out.</p>
    </div>
  </div>
</div>
